.user_card_home {
margin-top: auto;
margin-bottom: auto;
position: relative;
align-items: center;
padding: 10px;

}

.principal_btn_home {
border-radius : 15vh;
width: 20vh;
background: linear-gradient(180deg, #9049EC 0%, #661DC4 50%, #9049EC 100%);
color: white !important;
text-decoration: none;
margin: 3%;
align-self: center;
align-content: center;
}
.principal_btn_home:focus {
box-shadow: none !important;
outline: 0px !important;
text-decoration: none;
}

.brand_logo_home {
    height: 80%;
    width: 80%;
}